<main role="main" class="container">
  <div class="row p-3 my-3 gradient box-shadow">
    <div class="col form-inline">
      <h5 class="mb-0">Your Gallery</h5>
      <input class="ml-auto search_box" spellcheck="false" placeholder="Search..." type="text" value="{{nameFilter}}"
             [(ngModel)]="nameFilter" (keyup.enter)="onSearchStart()">
    </div>
  </div>
  <div class="toolbox row box-shadow">
    <ul class="form-inline">
      <li>Sort by date</li>
      <li>Sort by rating</li>
      <li>Sort by comments</li>
    </ul>
  </div>

  <div class="row my-3 p-3 bg-white rounded box-shadow">
    <span *ngFor="let entry of photoList">
      <app-gallery-entry [thumbnail]=entry.serverThumbFilePath [photoname]=entry.name [routerLink]="['/photo', entry.id]"></app-gallery-entry>
    </span>
  </div>
</main>
