<div class="container box-shadow photo_container" (mouseenter)="onPresentationMouseEnter()" (mouseleave)="onPresentationMouseLeave()">
  <img class="presentation_photo" src="{{photo.serverFilePath}}" [ngClass]="{'header-big':!shrinkHeader, 'header-small':shrinkHeader}">
</div>
<div class="container">
  <div class="row box-shadow info_box">
    <div *ngIf="ownerOptionsVisible" class="photo_owner_controls">
      <button class="btn btn-primary" type="submit" [routerLink]="['/photo', photo.id, 'edit']">Edit Photo Details</button>
    </div>
    <div class="photo_info">
      <div class="row">
        <div class="col-md-6">
          <h4>{{photo.name}}</h4>
        </div>
        <div class="col-md-6 pr-5">
          <p class="float-right pl-2">[ {{photo.rating}} from {{photo.ratingsCount}} rating(s) ]</p>
          <img src="{{ratingStarsVisual[4]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(5)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(5)" height="25">
          <img src="{{ratingStarsVisual[3]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(4)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(4)" height="25">
          <img src="{{ratingStarsVisual[2]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(3)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(3)" height="25">
          <img src="{{ratingStarsVisual[1]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(2)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(2)" height="25">
          <img src="{{ratingStarsVisual[0]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(1)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(1)" height="25">
          <p *ngIf="displayRatedInfo" class="float-right rated_info">Rated!</p>
        </div>
      </div>
      <small>Uploaded on: {{photo.timeAdded | date:'dd/MM/yyyy @ HH:mm:ss'}}</small>
      <p class="pl-5 mt-3">{{photo.description}}</p>
    </div>
  </div>
</div>



