<div class="container box-shadow photo_container">
    <img #displayImage class="presentation_photo" src="{{photo.serverFilePath}}" [ngClass]="{'header-big':!shrinkHeader, 'header-small':shrinkHeader}" (mouseenter)="onPresentationMouseEnter($event)" (mouseleave)="onPresentationMouseLeave()">
    <div *ngFor="let face of faces" class="face_container" [style.left]="face.viewLeft + 'px'" [style.top]="face.viewTop + 'px'" [style.width]="face.viewWidth + 'px'" [style.height]="face.viewHeight + 'px'" [style.visibility]="face.visible" [style.border-color]="'rgb(' + face.r + ',' + face.g + ',' + face.b + ')'">
      <small class="face_desc" [style.color]="'rgb(' + face.r + ',' + face.g + ',' + face.b + ')'"><b>{{face.tag}}</b></small>
    </div>
</div>
<div class="container">
  <div class="row box-shadow info_box">
    <div *ngIf="ownerOptionsVisible" class="photo_owner_controls">
      <button class="btn btn-primary" type="submit" [routerLink]="['/photo', photo.id, 'edit']">Edit Photo Details</button>
    </div>
    <div class="photo_info">
      <div class="row">
        <div class="col-md-6">
          <h4>{{photo.name}}</h4>
        </div>
        <div class="col-md-6 pr-5">
          <p class="float-right pl-2">[ {{photo.rating}} from {{photo.ratingsCount}} rating(s) ]</p>
          <img src="{{ratingStarsVisual[4]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(5)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(5)" height="25">
          <img src="{{ratingStarsVisual[3]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(4)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(4)" height="25">
          <img src="{{ratingStarsVisual[2]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(3)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(3)" height="25">
          <img src="{{ratingStarsVisual[1]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(2)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(2)" height="25">
          <img src="{{ratingStarsVisual[0]}}" class="ratingstar float-right" (mouseenter)="onHoverStar(1)" (mouseleave)="onLeaveStar()" (click)="onRatingStarClicked(1)" height="25">
          <p *ngIf="displayRatedInfo" class="float-right rated_info">Rated!</p>
        </div>
      </div>
      <small>Uploaded on: {{photo.timeAdded | date:'dd/MM/yyyy @ HH:mm:ss'}}</small>
      <p class="pl-5 mt-3">{{photo.description}}</p>

      <div *ngIf="faces.length > 0" class="tag_list row">
        <input *ngFor="let face of faces" type="text" class="tag_item" (change)="onTagTextChanged()" spellcheck="false" value="{{face.tag}}" [(ngModel)]="face.tag" [style.background-color]="'rgba(' + face.r + ',' + face.g + ',' + face.b + ', 0.3)'">
      </div>

      <div class="comment_list row">
        <p *ngIf="comments.length == 0" class="no_comments_label">No comments available. Be the first to comment!</p>
        <div *ngFor="let comment of comments" class="comment_entry">
            <img class="comment_profile_pic" src="assets/images/no_profile_photo.png">
            <p class="float-right">{{comment.timeAdded  | date:'dd/MM/yyyy @ HH:mm:ss'}}</p>
            <div class="comment_content row">
              <p><b>{{comment.author}}</b></p>
              <br/><br/>
              <p>{{comment.text}}</p>
            </div>
        </div>
      </div>

      <div class="comment_box row">
        <small><b>Comment:</b></small><br/>
        <textarea rows="5" class="comment_textarea" [(ngModel)]="commentBoxText">{{commentBoxText}}</textarea>
        <div style="display: flex">
          <button class="btn btn-primary" type="submit" (click)="onCommentClick()">Submit Comment</button>
          <p *ngIf="displayCommentedInfo" class="rated_info" style="margin-left: 10px; padding-top: 5px">Comment added!</p>
        </div>
      </div>
    </div>
  </div>
</div>



