<div class="container mb-5">
  <div class="d-flex align-items-center p-3 my-3 rounded gradient box-shadow">
    <div class=" ml-4">
      <h5 class="mb-0">Latest photos added</h5>
    </div>
  </div>

  <drag-scroll scrollbar-hidden="true" scroll-x-wheel-enabled="true" drag-scroll-y-disabled="true" class="drag_style" #latestAdded>
    <div *ngFor="let image of latestImages" class="drag_item" drag-scroll-item>
      <p class="info_item">Added by: {{image.authorUsername}}</p>
      <img class="image_item_component" src="{{image.serverFilePath}}" />
    </div>
  </drag-scroll>

  <div class="row">
    <div class="col-md-6">
      <div class="d-flex align-items-center p-3 my-3 mt-3 rounded gradient box-shadow">
        <div class=" ml-4">
          <h5 class="mb-0">Find more photos</h5>
        </div>
      </div>

      <div class="search_box my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
          <div class="col-md-8">
            <input class="search_input" type="text" placeholder="Search by name..." value="{{searchName}}" [(ngModel)]="searchName">
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary" style="width: 100%" type="submit" [routerLink]="['/explore/find', searchName, searchStartDate, searchEndDate, searchMinRating, searchMaxRating]">Search</button>
          </div>
        </div>
        <div class="row">
          <p class="ml-3 mt-4">Timeframe:</p>
        </div>
        <div class="row">
          <div class="col-md-1">
            <p class="p-0 m-0">Start:</p>
          </div>
          <div class="col-md-5">
            <input class="date_input" type="date" value="{{searchStartDate}}" [(ngModel)]="searchStartDate">
          </div>
          <div class="col-md-1">
            <p>End:</p>
          </div>
          <div class="col-md-5">
            <input class="date_input" type="date" value="{{searchEndDate}}" [(ngModel)]="searchEndDate">
          </div>
        </div>

        <div class="row">
          <p class="ml-3 mt-4">Rating between</p>
          <input class="rating_input" type="number" min="0" max="5" value="{{searchMinRating}}" [(ngModel)]="searchMinRating">
          <p class="mt-4"> and </p>
          <input class="rating_input" type="number" min="0" max="5" value="{{searchMinRating}}" [(ngModel)]="searchMaxRating">
        </div>

      </div>
    </div>
    <div class="col-md-6">
      <h3 class="featured_photo_text">Featured photo</h3>
      <img class="featured_photo mt-3" src="http://localhost:5001/filerequest/?filename=SENSEI/3F7B0BFE99A0E497DE62107782085E95.png" />
    </div>
  </div>

    <div class="d-flex align-items-center p-3 my-3 mt-3 rounded gradient box-shadow">
      <div class=" ml-4">
        <h5 class="mb-0">Top rated photos</h5>
      </div>
    </div>

  <drag-scroll scrollbar-hidden="true" scroll-x-wheel-enabled="true" drag-scroll-y-disabled="true" class="drag_style" #latestAdded>
    <div *ngFor="let image of mostRatedImages" class="drag_item" drag-scroll-item>
      <p class="info_item">Added by: {{image.authorUsername}}</p>
      <img class="image_item_component" src="{{image.serverFilePath}}" />
    </div>
  </drag-scroll>
</div>


