
<div *ngIf="loggedIn" class="form-inline">
  <p id="username"><b>{{username}}</b></p>
  <button class="btn btn-primary" (click)="onSettingsClicked()"><img class="navbarbtn" src="assets/images/settings.svg"></button>
  <button class="btn btn-primary ml-1" (click)="onLogoutClicked()"><img class="navbarbtn" src="assets/images/logout.svg"></button>
</div>

<div *ngIf="!loggedIn" class="form-inline">
  <button class="btn btn-primary mr-1" (click)="onLoginNavClicked()"><p class="navbarbtn-text">Login</p></button>
  <button class="btn btn-primary" (click)="onRegisterNavClicked()"><p class="navbarbtn-text">Register</p></button>
</div>
