
#username {
  color: #a038af;
  margin: 0;
  margin-right: 10px;
}

.navbarbtn {
  height: 20px;
}

.navbarbtn-text {
  padding: 0;
  margin: 0;
}

.btn-primary {
  background-color: #6a85e1;
  padding-bottom: 8px;
  padding-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-primary:hover {
  background-color: #5a75ce !important;
}
