<div class="container-fluid">
  <div class="row no-float">
    <div class="col-md-3 d-flex flex-column">
      <div class="d-flex align-items-center p-2 my-1 rounded gradient box-shadow">
          <h5 class="mb-0">Toolbox</h5>
      </div>
      <div class="my-3 p-3 bg-white rounded box-shadow flex-grow-1 toolbox">
        <div class="toolboxRow">
          <img *ngFor="let tool of toolbox | slice:0:4" src="{{tool.img}}" width="32" height="32" [ngClass]="{'selectedtool':tool.selected, 'unselectedtool':!tool.selected}" (click)="onToolClick(tool)">
        </div>
        <div class="toolboxRow">
          <img *ngFor="let tool of toolbox | slice:4:8" src="{{tool.img}}" width="32" height="32" [ngClass]="{'selectedtool':tool.selected, 'unselectedtool':!tool.selected}" (click)="onToolClick(tool)">
        </div>
        <div class="toolboxRow">
          <img *ngFor="let tool of toolbox | slice:8:10" src="{{tool.img}}" width="32" height="32" [ngClass]="{'selectedtool':tool.selected, 'unselectedtool':!tool.selected}" (click)="onToolClick(tool)">
        </div>
      </div>
    </div>
    <div class="col-md-6 render-container">
      <canvas id="render-surface" style="width: 100%; height: 100%; display: block;">HTML5 is required for running the editor!</canvas><br/>
      <div id="render-overlay-container">
      </div>
    </div>
    <div class="col-md-3 d-flex flex-column">
      <div class="d-flex align-items-center p-2 my-1 rounded gradient box-shadow">
        <h5 class="mb-0">Gallery</h5>
      </div>
      <div class="my-3 p-3 bg-white rounded box-shadow gallerybox">
        <select [(ngModel)]="selectedPhoto">
          <option *ngFor="let entry of photoList" [value]="entry.serverFilePath">{{entry.name}}</option>
        </select>
        <button (click)="loadPhotoTexture()">Add</button>
      </div>
      <div class="d-flex align-items-center p-2 my-1 rounded gradient box-shadow layers-header">
        <h5 class="mb-0">Layers</h5>
        <h5 class="mb-0 add-layer" (click)="onAddNewLayerClick()">+</h5>
      </div>
      <div class="my-3 p-3 bg-white rounded box-shadow flex-grow-1 layerbox">
          <div *ngFor="let layer of layerList" class="row layer">
            <div class="d-flex">
              <img src="{{layer.layerInfo.textureName}}" width="30px" height="20px">
              <p (click)="onLayerSelected(layer)" [ngClass]="{'layerSelected':layer.selected}">{{layer.layerInfo.name}}</p>
            </div>
            <div>
              <img (click)="onLayerUp(layer)" src="assets/images/up.png" height="20px" class="layerbtn">
              <img (click)="onLayerDown(layer)" src="assets/images/down.png" height="20px" class="layerbtn">
              <img (click)="onLayerDelete(layer)" src="assets/images/delete.png" height="20px" class="layerbtn">
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

<ng-template #colorAdjustmentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Color Ajustment</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row toolbox">
        <div class="col-md-4">
          <label>Hue:</label>
        </div>
        <div class="col-md-8">
          <input [(ngModel)]="hueValue" (input)="onHSVSliderChange()" type="range" min="0" max="99" class="hsv-slider">
        </div>
      </div>
      <div class="row toolbox">
        <div class="col-md-4">
          <label>Saturation:</label>
        </div>
        <div class="col-md-8">
          <input [(ngModel)]="saturationValue" (input)="onHSVSliderChange()" type="range" min="0" max="99" class="hsv-slider">
        </div>
      </div>
      <div class="row toolbox">
        <div class="col-md-4">
          <label>Brightness:</label>
        </div>
        <div class="col-md-8">
          <input [(ngModel)]="brightnessValue" (input)="onHSVSliderChange()" type="range" min="0" max="99" class="hsv-slider">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <p class="info-modal-close">Press ESC to close...</p>
  </div>
</ng-template>

<ng-template #rgbOverlayModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">RGB Overlay</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row toolbox">
        <div class="col-md-4">
          <label>Red:</label>
        </div>
        <div class="col-md-8">
          <input [(ngModel)]="redValue" (input)="onRGBOverlayChange()" type="range" min="0" max="100" class="hsv-slider">
        </div>
      </div>
      <div class="row toolbox">
        <div class="col-md-4">
          <label>Green:</label>
        </div>
        <div class="col-md-8">
          <input [(ngModel)]="greenValue" (input)="onRGBOverlayChange()" type="range" min="0" max="100" class="hsv-slider">
        </div>
      </div>
      <div class="row toolbox">
        <div class="col-md-4">
          <label>Blue:</label>
        </div>
        <div class="col-md-8">
          <input [(ngModel)]="blueValue" (input)="onRGBOverlayChange()" type="range" min="0" max="100" class="hsv-slider">
        </div>
      </div>
      <div class="row toolbox">
        <div class="col-md-4">
          <label>Enabled:</label>
        </div>
        <div class="col-md-8">
          <input type="checkbox" [(ngModel)]="overlayEnabled" (change)="onRGBOverlayChange()">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <p class="info-modal-close">Press ESC to close...</p>
  </div>
</ng-template>

<ng-template #opacityModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Opacity Ajustment</h4>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div class="row toolbox">
        <div class="col-md-4">
          <label>Opacity:</label>
        </div>
        <div class="col-md-8">
          <input [(ngModel)]="opacityValue" (input)="onOpacityChange()" type="range" min="0" max="100" class="hsv-slider">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <p class="info-modal-close">Press ESC to close...</p>
  </div>
</ng-template>

<img *ngFor="let photo of loadedPhotos" id="{{photo}}" src="{{photo}}" crossorigin="anonymous" (load)="textureLoaded(photo)" width="0" height="0">
<img id="whiteTexture" src="assets/images/white.png" crossorigin="anonymous" width="0" height="0">
