
#logonav {
  height: 30px;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
}

#logonav:focus {
  outline: none;
}

.navbar {
  box-shadow: 0px 1px 10px 0px #6a85e1;
}

.active a {
  color: #a038af !important;
}

.nav-item a {
  color: #c9a7ce;
}
