
<main role="main" class="container">
  <div class="d-flex align-items-center p-3 my-3 rounded gradient box-shadow">
    <div class=" ml-4">
      <h5 class="mb-0">{{username}}</h5>
      <small>Regular user</small>
    </div>
  </div>

  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">General information</h6>

    <div class="row">
      <div class="col-md-6">
        <p class="media media-body text-muted small mt-2 mb-0">First name:</p>
        <div class="media">
          <input type="text" class="form-control editable-label" value="{{firstName}}" spellcheck="false" [disabled]="!firstNameEditMode" [ngClass]="{ 'edit-mode': firstNameEditMode }" [(ngModel)]="firstName">
          <a *ngIf="!firstNameEditMode" (click)="firstNameEditMode=!firstNameEditMode">Edit</a>
          <a *ngIf="firstNameEditMode" class="mr-2" (click)="firstNameEditMode=!firstNameEditMode; onSaveChangesClicked('firstname')">Save</a>
          <a *ngIf="firstNameEditMode" (click)="firstNameEditMode=!firstNameEditMode; updateViewsFromModel();">Cancel</a>
        </div>
      </div>
      <div class="col-md-6">
        <p class="media media-body text-muted small mt-2 mb-0">Last name:</p>
        <div class="media">
          <input type="text" class="form-control editable-label" value="{{lastName}}" spellcheck="false" [disabled]="!lastNameEditMode" [ngClass]="{ 'edit-mode': lastNameEditMode }" [(ngModel)]="lastName">
          <a *ngIf="!lastNameEditMode" (click)="lastNameEditMode=!lastNameEditMode">Edit</a>
          <a *ngIf="lastNameEditMode" class="mr-2" (click)="lastNameEditMode=!lastNameEditMode; onSaveChangesClicked('lastname')">Save</a>
          <a *ngIf="lastNameEditMode" (click)="lastNameEditMode=!lastNameEditMode; updateViewsFromModel();">Cancel</a>
        </div>
      </div>
    </div>

    <div>
      <p class="media media-body text-muted small mt-2 mb-0">Email:</p>
      <div class="media">
        <input type="text" class="form-control editable-label" value="{{email}}" spellcheck="false">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <p class="media media-body text-muted small mt-2 mb-0">Country:</p>
        <div class="media">
          <input type="text" class="form-control editable-label" value="{{country}}" spellcheck="false" [disabled]="!countryEditMode" [ngClass]="{ 'edit-mode': countryEditMode }" [(ngModel)]="country">
          <a *ngIf="!countryEditMode" (click)="countryEditMode=!countryEditMode">Edit</a>
          <a *ngIf="countryEditMode" class="mr-2" (click)="countryEditMode=!countryEditMode; onSaveChangesClicked('country')">Save</a>
          <a *ngIf="countryEditMode" (click)="countryEditMode=!countryEditMode; updateViewsFromModel();">Cancel</a>
        </div>
      </div>
      <div class="col-md-6">
        <p class="media media-body text-muted small mt-2 mb-0">City / State:</p>
        <div class="media">
          <input type="text" class="form-control editable-label" value="{{city}}" spellcheck="false" [disabled]="!cityEditMode" [ngClass]="{ 'edit-mode': cityEditMode }" [(ngModel)]="city">
          <a *ngIf="!cityEditMode" (click)="cityEditMode=!cityEditMode">Edit</a>
          <a *ngIf="cityEditMode" class="mr-2" (click)="cityEditMode=!cityEditMode; onSaveChangesClicked('city')">Save</a>
          <a *ngIf="cityEditMode" (click)="cityEditMode=!cityEditMode; updateViewsFromModel();">Cancel</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <p class="media media-body text-muted small mt-2 mb-0">Address:</p>
        <div class="media">
          <input type="text" class="form-control editable-label" value="{{address}}" spellcheck="false" [disabled]="!addressEditMode" [ngClass]="{ 'edit-mode': addressEditMode }" [(ngModel)]="address">
          <a *ngIf="!addressEditMode" (click)="addressEditMode=!addressEditMode">Edit</a>
          <a *ngIf="addressEditMode" class="mr-2" (click)="addressEditMode=!addressEditMode; onSaveChangesClicked('address')">Save</a>
          <a *ngIf="addressEditMode" (click)="addressEditMode=!addressEditMode; updateViewsFromModel();">Cancel</a>
        </div>
      </div>
      <div class="col-md-4">
        <p class="media media-body text-muted small mt-2 mb-0">Zip Code:</p>
        <div class="media">
          <input type="text" class="form-control editable-label" value="{{zipcode}}" spellcheck="false" [disabled]="!zipcodeEditMode" [ngClass]="{ 'edit-mode': zipcodeEditMode }" [(ngModel)]="zipcode">
          <a *ngIf="!zipcodeEditMode" (click)="zipcodeEditMode=!zipcodeEditMode">Edit</a>
          <a *ngIf="zipcodeEditMode" class="mr-2" (click)="zipcodeEditMode=!zipcodeEditMode; onSaveChangesClicked('zipcode')">Save</a>
          <a *ngIf="zipcodeEditMode" (click)="zipcodeEditMode=!zipcodeEditMode; updateViewsFromModel();">Cancel</a>
        </div>
      </div>
    </div>

  </div>
</main>
