<div class="container">

  <div class="py-3">
    <img class="d-block mx-auto mb-4" src="assets/images/logo.png">
  </div>

  <div *ngIf="!registerComplete" class="text-center">
    <p class="lead">Complete the form below with your user information. After creating the account,
      you will be able to upload, edit and search for your favorite photos!</p>
  </div>

  <form *ngIf="!registerComplete" #registerForm="ngForm">
  <div class="row">
    <div class="col-md-12 order-md-1">

        <h4 class="mb-3">General information</h4>

        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" id="firstName" name="firstName" class="form-control" required [(ngModel)]="model.firstName" #firstName="ngModel">
            <div *ngIf="firstName.errors && (firstName.dirty || firstName.touched)" class="alert alert-danger">
              Valid first name is required!
            </div>
          </div>

          <div class="col-md-6 mb-3">
            <label>Last name</label>
            <input type="text" id="lastName" name="lastName" class="form-control" required [(ngModel)]="model.lastName" #lastName="ngModel">
            <div *ngIf="lastName.errors && (lastName.dirty || lastName.touched)" class="alert alert-danger">
              Valid last name is required!
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label>Username</label>
            <input type="text" id="username" name="username" class="form-control" required [(ngModel)]="model.username" #username="ngModel">
            <div *ngIf="username.errors && (username.dirty || username.touched)" class="alert alert-danger">
              Vaild username is required!
            </div>
        </div>

        <div class="mb-3">
          <label>Email</label>
          <input type="email" id="email" name="email" class="form-control" required [(ngModel)]="model.email" #email="ngModel">
          <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
            Vaild email address is required!
          </div>
        </div>

        <div class="mb-3">
          <label>Password</label>
          <input type="password" id="password" name="password" class="form-control" required [(ngModel)]="model.password" #password="ngModel">
          <div *ngIf="password.errors && (password.dirty || password.touched)" class="alert alert-danger">
            Vaild password is required!
          </div>
        </div>

        <div class="mb-3">
          <label>Confirm Passowrd</label>
          <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required [(ngModel)]="model.confirmPassword" #confirmPassword="ngModel">
          <div *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
            {{confirmPasswordErrMsg}}
          </div>
        </div>

        <hr class="mb-4">
        <h4 class="mb-3">Additional information <span class="text-muted">(Optional)</span> </h4>
        <div class="mb-3">
          <label>Address</label>
          <input type="text" class="form-control" [(ngModel)]="model.address" name="address">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label>Country</label>
            <input type="text" class="form-control" [(ngModel)]="model.country" name="country">
          </div>

          <div class="col-md-4 mb-3">
            <label>City / State</label>
            <input type="text" class="form-control" [(ngModel)]="model.city" name="city">
          </div>

          <div class="col-md-3 mb-3">
            <label>Zip Code</label>
            <input type="text" class="form-control" [(ngModel)]="model.zipcode" name="zipcode">
          </div>
        </div>

      <div *ngFor="let errorMsg of backendErrors" class="alert alert-danger">
        {{errorMsg.errorMessage}}
      </div>

        <hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit" (click)="onRegisterClick()">Register</button>
    </div>
  </div>
  </form>

  <div *ngIf="registerComplete" class="py-5 text-center">
    <p class="lead">Your account has been created and activated! Click this <a routerLink="/login">link</a>
      to access the login page and begin to use the platform!</p>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; 2018-2019 - Cristian-Stefan Rusu - FII</p>
  </footer>
</div>
